<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- 
# +------------------------------------------------+
# | OpenCaptivePortal                              |
# |                                                |
# | For further information please see             |
# |    http://code.google.com/p/opencaptiveportal/ |
# | or                                             |
# |    http://www.switch.ch/mobile/pwlan/          |
# +------------------------------------------------+
#
# TODO:
# - Round Robin for WISPs
-->
<html>
 <head>
  <title>SWITCH - Hotspot</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link href="http://www.switch.ch/switch-web/css/layout.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 7]>
    <link href="css/custom-patch.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="http://www.switch.ch/switch-web/js/jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="http://www.switch.ch/switch-web/js/utils.js"></script>
 </head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
 <style type="text/css">
	<!--
	table {
	 font-size: 75.00%;
 	}
	-->
 </style>
    <div id="page_margins">
      <div id="page">
        <div id="header" class="subsite">
          <div id="topnav">
            <!-- Start: Skiplink-Navigation -->
            <div id="skiplinks">
              <!-- <a class="skip" accesskey="0" href="/" title="Direkt zur Startseite springen">Direkt zur Startseite springen</a> <a class="skip" accesskey="1" href="#topnav_skip" title="Direkt zur Navigation springen">Direkt zur Top Navigation springen</a> <a class="skip" accesskey="2" href="#navigation" title="Direkt zur Navigation springen">Direkt zur Navigation springen</a> <a class="skip" accesskey="3" href="#content" title="Direkt zum Inhalt springen">Direkt zum Inhalt springen</a> <a class="skip" accesskey="4" href="http://www.switch.ch/about/contact/" title="Direkt zur Kontakt-Seite springen">Direkt zur Kontakt-Seite springen</a> -->
            </div><!-- Ende: Skiplink-Navigation -->
            <a id="topnav_skip" name="topnav"></a> <!-- skiplink anchor: topnav -->
            <!-- <ul>
              <li>
                <a href="/" title="">Start</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="http://www.switch.ch/about/news/" title="">News</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="http://www.switch.ch/about/contact/" title="">Contact</a>
              </li>
              <li class="printing invisible">
                <a href="#" title="Drucken"><span class="float_left">Drucken</span> <img src="http://www.switch.ch/switch-web/images/icons/icon_print.gif" alt="" class="icon_print" /></a>
              </li>
              <li>
                <a href="#" title="">de</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="#" title="">fr</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="#" title="">it</a>
              </li>
              <li>|
              </li>
              <li class="last">
                <a href="#" title="" class="current">en</a>
              </li>
            </ul> -->
          </div><a href="/" title="Start"><img src="http://www.switch.ch/switch-web/images/logo.gif" alt="SWITCH Logo" id="logo" /></a>
          <!-- end: div topnav -->
        </div>
	<!-- end: div header -->

	<!-- begin: main navigation #nav -->
        <!-- begin: main content area #main -->
        <div id="main" class="c1">

          <!-- begin: #col3 static column -->
          <div id="col3">
            <div id="col3_content" class="clearfix"> 


<!-- Contenc -->
<h1>Administration</h1>

{% if no_cookies %}
<p style="color: red;">Dein Browser unterstützt keine Cookies. Bitte aktivere sie um dich anzumelden.</p>
{% endif %}

{% if form.has_errors %}
<p style="color: red;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if loggedin %}
<p>
<form method="post" action="/">
 You are logged in as {{ username }}.
 <input type="submit" value="logout" />
</form>
</p>
<p>
<h2>Documentation</h2>
 <ul>
  <li> Project on <a href="http://code.google.com/p/opencaptiveportal/">google code</a> </li>
 </ul>

<h2>Overview</h2>
 <ul>
  <li> SWITCH Hotspot <a href="/">frontpage</a> </li>
  <li> Django <a href="/admin/">admin webinterface</a> </li>
 </ul>

<h2>Services</h2>
 <h3>iptables</h3>
  <ul>
   <li> <a href="/service/iptables/show">show</a> </li>
   <li> <a href="/service/iptables/rebuild">rebuild</a> </li>
  </ul>
 <h3>IP configuration</h3>
  <ul>
   <li> <a href="/service/ip/show">show</a> </li>
   <li> <a href="/service/ip/rebuild">rebuild</a> </li>
  </ul>
<br /><br />
</p>

{% else %}
<p><a href="/">Login</a> on Fronpage.</a>
{% endif %}


  </td>
 </tr>
</table>


   </div> <!-- end: col3_content -->
  </div> <!-- end: col3 -->
 </div> <!-- end: main -->
 </div> <!-- end: page -->
</div> <!-- end: page_margins -->
</body>
