<html>
  <head>
    <title>{{ wisp }} - landing page</title>
    <!--
    <?xml version="1.0" encoding="UTF-8"?>
      <WISPAccessGatewayParam
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.acmewisp.com/WISPAccessGatewayParam.xsd">
       <Proxy>
         <MessageType>110</MessageType>
         <NextURL>{{ site }}/route?provider={{ wisp }}&url=http://www.yahoo.com/</NextURL>
         <ResponseCode>200</ResponseCode>
         <Delay>1</Delay>
       </Proxy>
     </WISPAccessGatewayParam>
     -->
   </head>
   <body>&nbsp;</body>
</html>
