<html>
  <head>
    <title>iPass redirect page</title>
    <!--
    <?xml version="1.0" encoding="UTF-8"?>
      <WISPAccessGatewayParam
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.acmewisp.com/WISPAccessGatewayParam.xsd">
       <Proxy>
         <MessageType>110</MessageType>
         <ResponseCode>200</ResponseCode>
         <Delay>5</Delay>
       </Proxy>
     </WISPAccessGatewayParam>
     -->
   </head>
   <body>iPass redirect page</body>
</html>
