<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- 
# +------------------------------------------------+
# | OpenCaptivePortal                              |
# |                                                |
# | For further information please see             |
# |    http://code.google.com/p/opencaptiveportal/ |
# | or                                             |
# |    http://www.switch.ch/mobile/pwlan/          |
# +------------------------------------------------+
#
# TODO:
# - Round Robin for WISPs
-->
<html>
 <head>
  <title>SWITCH - Hotspot</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link href="http://www.switch.ch/switch-web/css/layout.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 7]>
    <link href="css/custom-patch.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="http://www.switch.ch/switch-web/js/jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="http://www.switch.ch/switch-web/js/utils.js"></script>
 </head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
 <style type="text/css">
	<!--
	table {
	 font-size: 75.00%;
 	}
	-->
 </style>
    <div id="page_margins">
      <div id="page">
        <div id="header" class="subsite">
          <div id="topnav">
            <!-- Start: Skiplink-Navigation -->
            <div id="skiplinks">
              <a class="skip" accesskey="0" href="/" title="Direkt zur Startseite springen">Direkt zur Startseite springen</a> <a class="skip" accesskey="1" href="#topnav_skip" title="Direkt zur Navigation springen">Direkt zur Top Navigation springen</a> <a class="skip" accesskey="2" href="#navigation" title="Direkt zur Navigation springen">Direkt zur Navigation springen</a> <a class="skip" accesskey="3" href="#content" title="Direkt zum Inhalt springen">Direkt zum Inhalt springen</a> <a class="skip" accesskey="4" href="http://www.switch.ch/about/contact/" title="Direkt zur Kontakt-Seite springen">Direkt zur Kontakt-Seite springen</a>
            </div><!-- Ende: Skiplink-Navigation -->
            <a id="topnav_skip" name="topnav"></a> <!-- skiplink anchor: topnav -->
            <ul>
              <li>
                <a href="/" title="">Start</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="http://www.switch.ch/about/news/" title="">News</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="http://www.switch.ch/about/contact/" title="">Contact</a>
              </li>
              <li class="printing invisible">
                <a href="#" title="Drucken"><span class="float_left">Drucken</span> <img src="http://www.switch.ch/switch-web/images/icons/icon_print.gif" alt="" class="icon_print" /></a>
              </li>
              <li>
                <a href="#" title="">de</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="#" title="">fr</a>
              </li>
              <li>|
              </li>
              <li>
                <a href="#" title="">it</a>
              </li>
              <li>|
              </li>
              <li class="last">
                <a href="#" title="" class="current">en</a>
              </li>
            </ul>
          </div><a href="/" title="Start"><img src="http://www.switch.ch/switch-web/images/logo.gif" alt="SWITCH Logo" id="logo" /></a>
          <!-- end: div topnav -->
        </div>
	<!-- end: div header -->

	<!-- begin: main navigation #nav -->
        <div id="nav">
          <a id="navigation" name="navigation"></a> <!-- skiplink anchor: navigation -->
          <div id="nav_main">
            <ul id="submenu" class="blue">
                <li class="first"><a href="/" title="">Educational Internet Access </a></li>
            </ul>
          </div> <!-- end: nav_main -->
        </div><!-- end: nav -->
        <!-- begin breadcrumb -->
 
        <!-- begin: main content area #main -->
        <div id="main" class="c1">

          <!-- begin: #col3 static column -->
          <div id="col3">
            <div id="col3_content" class="clearfix"> 
<!-- educational part -->
<table>
<tr height="200"> 
 
 <!-- SWITCHconnect -->
 <td width=260 valign="top" bgcolor="white">
  <b>SWITCH<i>connect</i></b>
  <p><center><a href="http://www.switch.ch/mobile"><img src="http://www.switch.ch/img/Switch-connect-200.gif" border="0"></a></center></p>
  If you are a SWITCH<i>connect</i> user start up your VPN client and connect to your home campus.
 </td>
 
 <!-- local university -->
 <td width="260"  valign="top" bgcolor="white">
  <table>
   <tr>
    <td>
     <b>Conference Login</b><p>
<!--     <iframe src="/login/" width="261" height="150" rolling="no" frameborder="0"></iframe> -->
{% if no_cookies %}
<p style="color: red;">Dein Browser unterstützt keine Cookies. Bitte aktivere sie um dich anzumelden.</p>
{% endif %}
{% if form.has_errors %}
<p style="color: red;">Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action=".">
{% if loggedin %}
<p>You are logged in as {{ username }}.</p>
<!-- [ <a target="_parent" href="/admin-overview/">Administrator Login</a> ] -->
[ <a target="_blank" href="/admin-overview/">Administrator Overview</a> ] <br /> <br />
<input type="submit" value="logout" />
{% else %}
<table border="0">
 <tr><td>Username:</td><td>{{ form.username }}</td></tr>
 <tr><td>Password:</td><td>{{ form.password }}</td></tr>
</table>
<input type="hidden" name="give_internet" value="true" />
<input type="submit" value="login" /> <br /><br />
(For administration please login via Conference Login.)<br />
{% endif %}
</form>
    </td>
   </tr>
  </table>
 </td>

 <!-- Support -->
 <td width=260  valign="top">
  <b>Support</b><p>
  In case of problems or information please contact our technical support:
  <ul>
   <li>Email: <a href="mailto:mobile@switch.ch">mobile@switch.ch</A></li>
   <li>Phone: +41 44 268 15 07</li>
  </ul>
 </td>

 <!-- Free Link -->
 <td width=260 valign="top">
  <b>Free Links</b><p>
   <ul>
    <li><a href="http://www.switch.ch">SWITCH</a></li > 
    <li><a href="http://www.sbb.ch">SBB</a> / <a href="http://www.zvv.ch">ZVV</a> / <a href="http://www.vbz.ch">VBZ</a></li>
   </ul>
  </td>
 </tr>
</table>

<!-- commercial part -->
<!-- TODO: Round Robin -->

   </div> <!-- end: col3_content -->
  </div> <!-- end: col3 -->
       </div><!-- end: #main -->
      <div id="nav_main">
        <ul id="submenu" class="orange">
 
   <li class="first"><a href="/" title="">Commercial Internet Access </a></li>
	</ul>
	</div>

        <div id="main" class="c1">

          <!-- begin: #col3 static column -->
          <div id="col3">
            <div id="col3_content" class="clearfix">

<table align="left" cellpadding="5" cellspacing="5" align="left">
{% for wisp in wisps %}
  <td>
   <iframe src="{{ wisp.iframe_url }}" width="261" height="200" rolling="no" frameborder="0"></iframe>
  </td>
{% endfor %}
 </tr>
</table>
   </div> <!-- end: col3_content -->
  </div> <!-- end: col3 -->
 </div> <!-- end: main -->
 </div> <!-- end: page -->
</div> <!-- end: page_margins -->
</body>
