# 
# +------------------------------------------------+
# | OpenCaptivePortal                              |
# |                                                |
# | For further information please see             |
# |    http://code.google.com/p/opencaptiveportal/ |
# | or                                             |
# |    http://www.switch.ch/mobile/pwlan/          |
# +------------------------------------------------+
# 

CREATE TABLE active_routes (src_ip inet, provider_id int);

CREATE TABLE provider (id int, name text, gre_tunnel id);
INSERT INTO provider (id, name, gre_tunnel) VALUES (0, "SWITCHclassic", 0);
INSERT INTO provider (id, name, gre_tunnel) VALUES (1, "monzoon",       1);
INSERT INTO provider (id, name, gre_tunnel) VALUES (2, "swisscom",      2);
INSERT INTO provider (id, name, gre_tunnel) VALUES (3, "tpn",           3);
INSERT INTO provider (id, name, gre_tunnel) VALUES (4, "thenet",        4);

CREATE TABLE handle (username string, handle string, last_seen date);

CREATE TABLE passwd (username string, password string, privilege string);
INSERT INTO passwd VALUES ("xmlrpc-test", "5ef71f805199524167d487eb4c5094f08dc672e3", "xmlrpc");

